<div class="container-fluid">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Favorite Drummers</h1>

      <p>
        Welcome to Fum, an extensive directory of drummers. Find out about your favorite drummers, explore drummers, share
        and on and on and on...
      </p>

      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Most Popular Drummers:
      </a>
      <a href="#" class="list-group-item">Chad Smith</a>
      <a href="#" class="list-group-item">Chris Coleman</a>
      <a href="#" class="list-group-item">Phil Collins</a>
      <a href="#" class="list-group-item">Peter Erksine</a>
      <a href="#" class="list-group-item">Dave Wekyl</a>
      <a href="#" class="list-group-item">Matt Cameron</a>


    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="search">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for drummers...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="browse-body">

  <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>
        <div class="caption">
          <h3>Carter Carter Beauford</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles.</p>
          <a href="#" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
  </div>


  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "jon_fishman.jpg", alt: "Jon Fishman" %>
      <div class="caption">
        <h3>Jon Fishman</h3>

        <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
          He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
          drumming styles.</p>
        <a href="#" class="btn btn-primary" role="button">Read More</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "matt_cameron.jpg", alt: "Matt Cameron" %>
      <div class="caption">
        <h3>Matt Cameron</h3>

        <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
          He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
          drumming styles.</p>
        <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
           target="_blank" class="btn btn-primary" role="button">Read More</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "dave-grohl.jpg", alt: "Dave Grhol" %>
      <div class="caption">
        <h3>Dave Grohl</h3>

        <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
          He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
          drumming styles.</p>
        <a href="#" class="btn btn-primary" role="button">Read More</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "tony_royster.jpg", alt: "Tony Royster" %>
      <div class="caption">
        <h3>Tony Royster Jr.</h3>

        <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
          He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
          drumming styles. </p>
        <a href="#" class="btn btn-primary" role="button">Read More</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag "bill_bruford.jpg", alt: "Bill Bruford" %>
      <div class="caption">
        <h3>Bill Bruford</h3>

        <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
          He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
          drumming styles.</p>
        <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
           target="_blank" class="btn btn-primary" role="button">Read More</a>
      </div>
    </div>
  </div>
</div>




