<div class="container-fluid">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Favorite Drummers</h1>

      <p>
        Welcome to Fum, an extensive directory of drummers. Find out about your favorite drummers, explore drummers, share
        and on and on and on...
      </p>

      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
    </div>
  </div>
</div>

<div class="container-fluid" id="browse-body">

  <div class="drummer-tab">
    <% @drummers.each do |drummer| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>
          <div class="caption">
            <h3><%= drummer.name %></h3>

            <p><%= truncate(drummer.bio, :omission => "...", :length => 150) %></p>

            <h4><strong>Drumkit Make</strong></h4>

            <p><%= drummer.drumkit %></p>


            <h4><strong>Cymbals</strong></h4>
            <%= drummmer.cymbal_brand %>


            <h4><strong>Sticks</strong></h4>


           <%= link_to "Read More", drummers_show_path, :class => "btn btn-primary" %>

          </div>
        </div>

      </div>
    <% end %>
  </div>


</div>




