<div class="container-fluid">
  <div id="search">
    <div class="row">
      <div class="col-lg-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for drummers...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div id="drummer-panel">
        <div class="thumbnail">
          <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>
          <div class="caption">
            <h3>Carter Beauford</h3>

            <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
              He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
              drumming styles.</p>
            <a href="#" class="btn btn-primary" role="button">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "jon_fishman.jpg", alt: "Jon Fishman" %>
        <div class="caption">
          <h3>Jon Fishman</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles.</p>
          <a href="#" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "matt_cameron.jpg", alt: "Matt Cameron" %>
        <div class="caption">
          <h3>Matt Cameron</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles.</p>
          <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
             target="_blank" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "dave-grohl.jpg", alt: "Dave Grhol" %>
        <div class="caption">
          <h3>Dave Grohl</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles.</p>
          <a href="#" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "tony_royster.jpg", alt: "Tony Royster" %>
        <div class="caption">
          <h3>Tony Royster Jr.</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles. </p>
          <a href="#" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "bill_bruford.jpg", alt: "Bill Bruford" %>
        <div class="caption">
          <h3>Bill Bruford</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles.</p>
          <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
             target="_blank" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "stewart_copeland.jpg", alt: "Stewart Copeland" %>
        <div class="caption">
          <h3>Stewart Copeland</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles.</p>
          <a href="#" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "tre_cool.jpg", alt: "Tre Cool" %>
        <div class="caption">
          <h3>Tre Cool</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles. </p>
          <a href="#" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "dennis_chambers.jpg", alt: "Dennis Chambers" %>
        <div class="caption">
          <h3>Dennis Chambers</h3>

          <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
            He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
            drumming styles.</p>
          <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
             target="_blank" class="btn btn-primary" role="button">Read More</a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div id="drummer-panel">
            <div class="thumbnail">
              <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>
              <div class="caption">
                <h3>Carter Beauford</h3>

                <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                  Band.
                  He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open
                  hand
                  drumming styles.</p>
                <a href="#" class="btn btn-primary" role="button">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "jon_fishman.jpg", alt: "Jon Fishman" %>
            <div class="caption">
              <h3>Jon Fishman</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "matt_cameron.jpg", alt: "Matt Cameron" %>
            <div class="caption">
              <h3>Matt Cameron</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "dave-grohl.jpg", alt: "Dave Grhol" %>
            <div class="caption">
              <h3>Dave Grohl</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "tony_royster.jpg", alt: "Tony Royster" %>
            <div class="caption">
              <h3>Tony Royster Jr.</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles. </p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "bill_bruford.jpg", alt: "Bill Bruford" %>
            <div class="caption">
              <h3>Bill Bruford</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "stewart_copeland.jpg", alt: "Stewart Copeland" %>
            <div class="caption">
              <h3>Stewart Copeland</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "tre_cool.jpg", alt: "Tre Cool" %>
            <div class="caption">
              <h3>Tre Cool</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles. </p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "dennis_chambers.jpg", alt: "Dennis Chambers" %>
            <div class="caption">
              <h3>Dennis Chambers</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div id="drummer-panel">
            <div class="thumbnail">
              <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>
              <div class="caption">
                <h3>Carter Beauford</h3>

                <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                  Band.
                  He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open
                  hand
                  drumming styles.</p>
                <a href="#" class="btn btn-primary" role="button">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "jon_fishman.jpg", alt: "Jon Fishman" %>
            <div class="caption">
              <h3>Jon Fishman</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "matt_cameron.jpg", alt: "Matt Cameron" %>
            <div class="caption">
              <h3>Matt Cameron</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "dave-grohl.jpg", alt: "Dave Grhol" %>
            <div class="caption">
              <h3>Dave Grohl</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "tony_royster.jpg", alt: "Tony Royster" %>
            <div class="caption">
              <h3>Tony Royster Jr.</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles. </p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "bill_bruford.jpg", alt: "Bill Bruford" %>
            <div class="caption">
              <h3>Bill Bruford</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "stewart_copeland.jpg", alt: "Stewart Copeland" %>
            <div class="caption">
              <h3>Stewart Copeland</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "tre_cool.jpg", alt: "Tre Cool" %>
            <div class="caption">
              <h3>Tre Cool</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles. </p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "dennis_chambers.jpg", alt: "Dennis Chambers" %>
            <div class="caption">
              <h3>Dennis Chambers</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div id="drummer-panel">
            <div class="thumbnail">
              <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>
              <div class="caption">
                <h3>Carter Beauford</h3>

                <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                  He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                  drumming styles.</p>
                <a href="#" class="btn btn-primary" role="button">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "jon_fishman.jpg", alt: "Jon Fishman" %>
            <div class="caption">
              <h3>Jon Fishman</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "matt_cameron.jpg", alt: "Matt Cameron" %>
            <div class="caption">
              <h3>Matt Cameron</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "dave-grohl.jpg", alt: "Dave Grhol" %>
            <div class="caption">
              <h3>Dave Grohl</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "tony_royster.jpg", alt: "Tony Royster" %>
            <div class="caption">
              <h3>Tony Royster Jr.</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles. </p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "bill_bruford.jpg", alt: "Bill Bruford" %>
            <div class="caption">
              <h3>Bill Bruford</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "stewart_copeland.jpg", alt: "Stewart Copeland" %>
            <div class="caption">
              <h3>Stewart Copeland</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "tre_cool.jpg", alt: "Tre Cool" %>
            <div class="caption">
              <h3>Tre Cool</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles. </p>
              <a href="#" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <%= image_tag "dennis_chambers.jpg", alt: "Dennis Chambers" %>
            <div class="caption">
              <h3>Dennis Chambers</h3>

              <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews Band.
                He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                drumming styles.</p>
              <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                 target="_blank" class="btn btn-primary" role="button">Read More</a>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div id="drummer-panel">
                <div class="thumbnail">
                  <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>
                  <div class="caption">
                    <h3>Carter Beauford</h3>

                    <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                      Band.
                      He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open
                      hand
                      drumming styles.</p>
                    <a href="#" class="btn btn-primary" role="button">Read More</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "jon_fishman.jpg", alt: "Jon Fishman" %>
                <div class="caption">
                  <h3>Jon Fishman</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "matt_cameron.jpg", alt: "Matt Cameron" %>
                <div class="caption">
                  <h3>Matt Cameron</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                     target="_blank" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "dave-grohl.jpg", alt: "Dave Grhol" %>
                <div class="caption">
                  <h3>Dave Grohl</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "tony_royster.jpg", alt: "Tony Royster" %>
                <div class="caption">
                  <h3>Tony Royster Jr.</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles. </p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "bill_bruford.jpg", alt: "Bill Bruford" %>
                <div class="caption">
                  <h3>Bill Bruford</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                     target="_blank" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "stewart_copeland.jpg", alt: "Stewart Copeland" %>
                <div class="caption">
                  <h3>Stewart Copeland</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "tre_cool.jpg", alt: "Tre Cool" %>
                <div class="caption">
                  <h3>Tre Cool</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles. </p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "dennis_chambers.jpg", alt: "Dennis Chambers" %>
                <div class="caption">
                  <h3>Dennis Chambers</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                     target="_blank" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div id="drummer-panel">
                <div class="thumbnail">
                  <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>
                  <div class="caption">
                    <h3>Carter Beauford</h3>

                    <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                      Band.
                      He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open
                      hand
                      drumming styles.</p>
                    <a href="#" class="btn btn-primary" role="button">Read More</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "jon_fishman.jpg", alt: "Jon Fishman" %>
                <div class="caption">
                  <h3>Jon Fishman</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "matt_cameron.jpg", alt: "Matt Cameron" %>
                <div class="caption">
                  <h3>Matt Cameron</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                     target="_blank" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "dave-grohl.jpg", alt: "Dave Grhol" %>
                <div class="caption">
                  <h3>Dave Grohl</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "tony_royster.jpg", alt: "Tony Royster" %>
                <div class="caption">
                  <h3>Tony Royster Jr.</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles. </p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "bill_bruford.jpg", alt: "Bill Bruford" %>
                <div class="caption">
                  <h3>Bill Bruford</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                     target="_blank" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "stewart_copeland.jpg", alt: "Stewart Copeland" %>
                <div class="caption">
                  <h3>Stewart Copeland</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "tre_cool.jpg", alt: "Tre Cool" %>
                <div class="caption">
                  <h3>Tre Cool</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles. </p>
                  <a href="#" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag "dennis_chambers.jpg", alt: "Dennis Chambers" %>
                <div class="caption">
                  <h3>Dennis Chambers</h3>

                  <p>Carter Anthony Beauford is an American drummer, percussionist, and founding member of Dave Matthews
                    Band.
                    He is known for his ability to adapt to a variety of genres, and both his ambidextrous and his open hand
                    drumming styles.</p>
                  <a href="http://www.alternativenation.net/who-will-replace-matt-cameron-for-soundgardens-2014-tour/"
                     target="_blank" class="btn btn-primary" role="button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
</div>



